*{
	padding: 0;
	margin:0;
	font-size:14px;
}
.header-top{
 background:#000000;
 border-bottom: 1px solid #1f1f1f;
}

.header-top .item-hdtop ul{
  display: inline;
}
.header-top .item-hdtop #shopping{
	border-right: 1px solid #606060;
	padding: 0 9px 0 9px;

}
.header-top .item-hdtop ul li{
	display: inline;
	list-style: none;
}
.header-top .item-hdtop ul li a{
	display: inline-block;
	padding: 14px;
	padding-left: 9px; 
	font-size:13px;
	font-family: Arial;
	color: #606060;
}

.header-top .login a{
	display: inline-block;
	padding: 14px;
	padding-left: 5px;
	color: #606060;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;

}
.header-top .login #dk{
	border-right: 1px solid #606060; 
	padding: 0 7px 0 7px;
}
.heder-clearfit{
	background: #000000;
}
.logo{
	padding: 12px 17px 22px 0px;
}
.header-menu ul{
 display:flex;
}
.header-menu ul li{
   list-style: none;
}
.header-menu ul li a{
	display: inline-block;
	padding: 26px 22px 25px 0;
	color: #ffff;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	transition: all .2s ease;
}
.header-menu ul li a:hover{
	color: #eb557b;
}
.btn-search{
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    padding-right: 14px;
    background: #fff;
}
.btn-search .search{
	position: absolute;
	top:0px;
	right: 0px;
}
.btn-search #text{ 
	padding: 2px;
    width: 90%;
    border-radius: 10px;
    border: none;
}
.search {
    border: none;
    background: transparent; 
    padding: 1px 4px;
}
.cart{
	margin-top: 20px;
}
.cart a{
	font-size:12px; 
	color:#fff; 
	transition: all .2s ease-in;
	
	 
}
.cart a:hover{
	color: #eb557b;
} 
#slide img{
	width: 1349px;
	margin: 0;
}
#slide .owl-nav button{
	position: absolute;
	top: 40%;
	z-index:9999;
	
	
}
#slide .owl-nav button span{
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size:65px;
}
#slide .owl-nav button.owl-prev{
	left:93px;
}
#slide .owl-nav  button.owl-next{
	right:95px;
}
#slide .owl-nav  button:hover{
	background: red;
	color: #fff;
}
.wraper{
	background:#f9f8f4;
}
.titile-pr{
 text-align: center;
}
.titile-pr span{
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding:0 17px 0 17px;
}
.item_pr{
	background: #ffffff;
}
.img-pr:hover img{
	transform: scale(1.8);
}
.item_pr .img-pr img{
	width: 262px;
	border-bottom: 1px dashed #dddddd;
	padding-bottom: 20px;
}
.item_pr .content-pr a{
	padding: 29px 71px 0px 21px;
	color: #333333;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	transition: all .2s ease-in;
	display: inline-block;
	text-decoration: none;
}
.item_pr .content-pr a:hover{
	color:#eb557b;
}
.item_pr .money-pr{
	color:#f2001c;
	padding: 0px 0px 8px 21px;
}
.item_pr .tvg a{
	color: #666666;
	transition: all .2s ease-in;
	text-decoration: none;
}
.item_pr .tvg a:hover{
	color:#eb557b;
}
.item_pr .tvg span{
	padding: 10px;
}
.item_pr .tvg {
	 font-family: Arial, Helvetica, sans-serif;
	 padding: 6px 0px 25px 21px;
}
.cart-pr{
	position: absolute;
	top: 289px;
	float: right;
	right: 35px;
}
#th-pr {
	background: #ffffff;
    height: 179px;
    width: 1140px;
    position: relative;
    right: -15px;
}
 #th img{
	 display: inline-block;
	 padding : 40px 35px 40px 35px;
}
#th-pr .owl-nav button{
	position: absolute;
	top: 40%;
	z-index:9999;
	
	
}
#th-pr .owl-nav button span{
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size:65px;
}
#th-pr .owl-nav button.owl-prev{

	left:3px;
}
#th-pr .owl-nav  button.owl-next{

	right:3px;
}
#th-pr .owl-nav  button:hover{
	background: red;
	color: #fff;
}
.margin-bottom-35{
	background: #f7f7f7;
}
.ft{
	border-top:1px solid #e3e1e1;
	background: #f7f7f7;
}
.title-ft{
	border-right: 1px  solid #e3e1e1; 
}
.ft-left .title-ft::before{
	content:'';
	width: 30px;
	height: 2px;
	background: #f96a6e;
	position: absolute;
	top: 63px;
}
.ft-left .title-ft span{
	color: #333333;
	font-family: tahoma;
	font-weight: bold;
	text-transform: uppercase;
	font-size:16px;
	padding: 29px 210px 100px 0;
    display: block;
}
.ft-left .title-ft-1{
	border-right: 1px  solid #e3e1e1; 
}
.ft-left .title-ft-1 i{
	display: block;
	 color: #f96a6e;
	 font-size: 14px;

}
.ft-left .title-ft-1 i span{
	color: #7c6666;
    font-size: 14px;
    display: inline-block;
    padding: 0px 0 16px 10px;
}
.lkmxh{
	border-right: 1px  solid #e3e1e1; 
}
 .lkmxh::before{
	content:'';
	width: 30px;
	height: 2px;
	background: #f96a6e;
	position: absolute;
	top: 288px;
}
.lkmxh span{
	font-family: tahoma;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    padding: 21px 0 22px 0;
}
.lkmxh p{
	font-size: 13px;
	color: #936666;
	display: inline-block;
	padding: 0 0 15px 0;
} 
.ft-right span{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	font-family: tahoma;
	padding: 41px 48px 43px 14px;
	display: inline-block;
}
.ft-right{
	border-bottom: 1px solid #e3e1e1;
}
.ft-right #form{
	float: right;
	padding: 30px 0 29px 0;
}
.ft-right  #email{
	width:524px;
	background: #fff;
	color: #999999;
	border: 1px solid #e3e1e1;
	border-radius: 2px;
	padding: 14px 0px 13px 13px;
}
.ft-right #submit{
	position: absolute;
	left: 644px;
	top: 31px;
	padding: 14px 35px;
	color: #fff;
	background: #f96a6e;
	border: none;
	border-radius: 2px;
}
.item-ft-right::before{
	content:'';
	width: 30px;
	height: 2px;
	background: #f96a6e;
	position: absolute;
	top: 66px;
}
.item-ft-right span{
	font-size: 15px;
	font-weight: bold;
	font-family: tahoma;
	text-transform: uppercase;
	display: inline-block;
	padding: 32px 0 38px 0px;
}
.item-ft-right ul{
	display: block;
}
.item-ft-right ul a{
	display: block;
	padding: 0 0 15px 0;
	color: #936666;
	font-size: 13px;
}
.fotter-bottom .title-ft-bt{
	display: inline-block;
}
.fotter-bottom .title-ft-bt span{
	color: #bebebe;
	font-size: 12px;
	font-family: arial;
	display:inline-block;
     padding: 13px 0 15px 0;
}
.fotter-bottom .title-ft-bt1 img{
	display: inline-block;
    
}
.ft-bt{
	position: fixed;
    bottom: 50px;
    right: 25px;
}
/* tren mobile*/
.mobile{
	margin-bottom: 10px;
}
.menumobile{
	font-size: 25px;
    
	padding: 7px 13px;
	color: #fff;
}
.item_menu{
	position: absolute;
	left: 0;
	width: 100%;
	background:#fff;
	-webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);

	z-index: 99;
	top: 44px;
	display: none;
	transition: all .3s;
}
.item_menu ul li{
	display: block;
}
.item_menu ul li a{
	display:block;
	padding: 10px  30px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.item_menu ul li:hover a{
	color: #fff;
	background: #ea3a3c;
}
